<!doctype html>
<html lang="en">
<head>

<form>
Total Number of People:<br>
<input type='number' value='0' id="people-number-picker">
<br><br>
</form>

<body style= "background-color: #81CFE0">

<style>
/*#circle{
	width: 50px; 
	height: 50px; 
	background:red; 
	border-radius: 50%;
}*/

#background {
	width: 600px; 
	height: 500px; 
	background:white; 
	display: block;
	margin: 0 auto;
	border: 2px solid #333;
}

#circlePile {
  margin: 50px auto;
  background: #E0EEEE;
}

#circlePile {
  width: 910px;
  height: 100px;
  padding: 20px;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#circlePile div {
  float: left;
  width: 50px;
  height: 50px;
  padding-left: 18px;
  padding-top: 14px;
  padding-bottom: 10px;
  border: 2px solid #1E8BC3;

  border-radius: 50%;
  margin: 0 0 0 10px;
  background: #4ECDC4;
}

#circlePile div.ui-draggable-dragging { background: #FF82AB; }

#circlePile div:first-child {
  margin-left: 0;
}

</style>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
<script type="text/javascript">

//var circles = 10;
$( init );

function init() {


  $( "#background" ).resizable();

  $('.draggable').draggable(
  {
  	containment: '#background',
  	stop: coordinates
  });

  $('#submit').css( {
    left: '580px',
    top: '250px',
    width: 0,
    height: 0
  } );


//create circles

var peopleold = -1
 $("#people-number-picker").change(function (event){
 	people = event.target.valueAsNumber
 	console.log(people)

 	if (peopleold > -1){
 		console.log(peopleold)
 		 for ( var i=1; i<peopleold+1; i++ ) {
		 	var name = "#circle"+i
		 	$(name).remove();
		}
 	}

   for ( var i=1; i<people+1; i++ ) {
    $('<div>' + i + '</div>').data('number', i).attr('id', 'circle'+i).appendTo('#circlePile').draggable( {
      containment: '#background',
      stop: coordinates
    });

  peopleold = people
     }

  
 
  });

  $('#background').droppable( 
  	{
      accept: '#circlePile div',
      hoverClass: 'hovered',
      drop: handleCircleDrop
    });

  $("#submit-people").click(function (event){
	});



 function handleCircleDrop( event, ui ) {

	
	$('#submit').show();
    $('#submit').animate( 
    {
      left: '600px',
      top: '200px',
      width: '400px',
      height: '100px',
      opacity: 1
    } );
 
  }
 
}
    
function coordinates( event, ui ) {
    {
        var x = ui.position.left;
        var y = ui.position.top;
        var id = "i don't know yet";
        // get the circle element
        //debugger
        id = $(event.target).data('number')
        console.log("drag stopped, "+id+" current pos = "+ui.position.left+" "+ui.position.top+"", event, ui);
        alert( "Drag stopped!\n\nCoordinates: (" + x + ", " + y + ")\n");
    }
}


</script>

</head>
<body>

<div id="content" style="height: 400px;">

  <div id="background" class="ui-widget-content"> </div>

  <div id="circle" class='draggable'> </div>
  <div id="circlePile"> </div>

  <div id="submit">
    <button onclick="init()">Submit Formation</button>
  </div>
 
</body>
</html>